#nav{
    z-index: 10;
    padding: 2px;
    background: #fff;
    background: orange;
    opacity: 100;
    position: fixed;
    display: none;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    font-size: 18px;
}

.navOpt{
    padding-left: 4px;
}

.navOpt:hover{
    color: blue;
    cursor: pointer;
}